.container {
    width: 100%;
    height: calc(100vh - 72px);
    padding-top: 72px;


    .instructions {
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: xx-large;

        h1 {
            font-size: 60px;
            margin: 0;

            span {
                color: yellow;
            }
        }
    }

    .record {

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .tran {
        width: 100%;
        height: 45px;
        text-align: center;
        font-size: xx-large;
        margin-bottom: 20px;
    }

    .reset {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            width: 100%;
            height: 100%;
            background-color: rgb(0, 0, 0);
            color: white;
            font-size: 20px;
            font-weight: bold;
        }

    }

    .proceed {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            border: 3px solid yellowgreen;
        }

    }
}