.contain{
    background-color: #29215a;
    padding-top: 72px;
    height: calc(100vh - 72px);
    border-radius: 5px;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 0 0 10px #000;
    text-align: center;
    text-transform: uppercase;
}