.top{
    padding: 20px;

    .divv{
        padding-bottom: 25px;
        border-top: 1.5px solid black;
        border-bottom: 1.5px solid black;
        

        *{
            color: black;
        }

        .lnk{
            cursor: pointer;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            text-align: center;
            margin-bottom: 5px;
            background: greenyellow;
            color: black;
            padding: 5px;
            width: 150px;
            border-radius: 5px;
            transition: 0.5s;
            text-transform: capitalize;
            box-shadow: rgba(255, 255, 255, 0.16) 0px 3px 6px, rgba(255, 255, 255, 0.23) 0px 3px 6px;
            &:hover{
                width: 200px;
                background: green;
            }
        }
    }
}