@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Rubik+Vinyl&display=swap");

.game {
  display: flex;
  height: 70%;
  flex-direction: column;
  justify-content: center;
  direction: rtl;
  .sentence_results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    .sentence {

      font-family: "Fredoka", sans-serif;
      font-size: 100px;
      transition: 0.2s;
      .word {
        animation: wordEnter 0.2s ease-in forwards;
      }
    }
    .results {
      text-align: center;
      font-size: 3rem;
      font-family: "Fredoka", sans-serif;
      margin-bottom: 20px;
    }
  }

  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes wordEnter {
  0% {
    color: white;
  }

  100% {
    font-size: 110px;
    font-weight: bold;
    color: yellow;
  }
}
@media only screen and (max-width: 700px) {
  .game {
   

    .sentence_results {

      .sentence {
        font-size: 42px;
        
        .word {
          font-size: 42px;
        }
      }
      .results {
        font-size: 42px;

      }
    }
  }
  @keyframes wordEnter {
    0% {
      color: white;
    }
  
    100% {
      font-size: 52px;
      font-weight: bold;
      color: yellow;
    }
  }
 
}

@media only screen and (max-width: 375px) {
  .game {
   

    .sentence_results {

      .sentence {
        font-size: 30px;
        
        .word {
          font-size: 30px;
        }
      }
      .results {
        font-size: 30px;

      }
    }
  }
  @keyframes wordEnter {
    0% {
      color: white;
    }
  
    100% {
      font-size: 30px;
      font-weight: bold;
      color: yellow;
    }
  }
 
}
// @media (max-width: 600px) {
//     .game {
//         padding-top: 50px;
//         border: 10px solid green;
//         display: flex;
//         align-items: center;
//         flex-direction: column;
//         height: 50vh;
//         font-size: 2em;

//         direction: rtl;
//         background: #29215a;

//         .sentence {
//             transition: 0.5s;

//             .word {
//                 animation: wordEnter 0.5s ease-in forwards;
//             }

//             .other {
//                 color: white;
//                 margin-left: 5px;

//             }
//         }

//         .btns {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             margin-top: 50px;

//             .btn {
//                 border: 1px solid white;
//                 border-radius: 5px;
//                 padding: 10px;

//                 background: greenyellow;
//                 color: rgb(0, 0, 0);
//                 font-size: 20px;
//                 transition: 0.2s;
//                 cursor: pointer;

//                 &:hover {
//                     background: green;
//                     color: black;
//                 }
//             }
//         }

//         .rev {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             flex-direction: column;
//         }
//     }

// }
