@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Rubik+Vinyl&display=swap");

// .container {
//   .start {
//     margin-top: 72px;
//     background-color: #29215A;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     height: calc(100vh - 144px);
//     color: white;
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     .info {
//       width: 100%;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//       overflow: hidden;
//       .info_text{
//         border: 1px solid red;
//         position: absolute;
//         h1{
//           font-size: 50px;
//           margin-right: auto;
//           margin-left: auto;
//         }

//       }
//       img{
//         position: relative;
//         width: 100%;
//       }

//     }

//     button {
//       margin: 50px;
//       cursor: pointer;
//       font-family: Arial, Helvetica, sans-serif;
//       font-size: 20px;
//       text-align: center;
//       margin-bottom: 5px;
//       background: greenyellow;
//       color: black;
//       padding: 5px;
//       border: none;
//       width: 150px;
//       border-radius: 5px;
//       transition: 0.5s;
//       text-transform: capitalize;
//       box-shadow: rgba(255, 255, 255, 0.16) 0px 3px 6px, rgba(255, 255, 255, 0.23) 0px 3px 6px;

//     }

//     button:hover {
//       width: 175px;
//       background: green;

//     }

//   }

//   .top {
//     background-color: #29215a;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     height: calc(100vh - 72px);

//     .started {
//       margin-top: 72px;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       height: calc(100vh - 144px);
//     }

//   }

//   .doneLearning {
//     background-color: #29215a;
//     display: flex;
//     width: 100%;
//     height: calc(100vh - 144px);
//     flex-direction: column;
//     margin-top: 72px;
//     border: 10px solid rgb(156, 81, 81);

//     .btnsContnet {
//       margin-top: 20px;
//       margin-left: 150px;
//       display: flex;
//       align-items: center;
//       gap: 50px;
//       width: 500px;

//       span {
//         cursor: pointer;
//         font-family: Arial, Helvetica, sans-serif;
//         font-size: 20px;
//         text-align: center;
//         margin-bottom: 5px;
//         background: greenyellow;
//         color: black;
//         padding: 5px;
//         width: 150px;
//         border-radius: 5px;
//         transition: 0.5s;
//         text-transform: capitalize;
//         box-shadow: rgba(255, 255, 255, 0.16) 0px 3px 6px, rgba(255, 255, 255, 0.23) 0px 3px 6px;
//       }

//       .anch {
//         cursor: pointer;
//         font-family: Arial, Helvetica, sans-serif;
//         font-size: 20px;
//         text-align: center;
//         margin-bottom: 5px;
//         background: greenyellow;
//         color: black;
//         padding: 5px;
//         width: 150px;
//         border-radius: 5px;
//         transition: 0.5s;
//         text-transform: capitalize;
//         box-shadow: rgba(255, 255, 255, 0.16) 0px 3px 6px, rgba(255, 255, 255, 0.23) 0px 3px 6px;
//       }

//       .anch:hover {
//         // width: 200px;
//         background: green;
//       }

//       span:hover {
//         // width: 200px;
//         background: green;
//       }
//     }

//     @media (max-width: 1300px) {
//       width: 100%;
//     }

//     color: rgb(0, 0, 0);
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     h1 {
//       color: white;
//     }

//     .check {
//       cursor: pointer;
//       font-family: Arial, Helvetica, sans-serif;
//       font-size: 20px;
//       text-align: center;
//       margin-bottom: 5px;
//       background: greenyellow;
//       color: black;
//       padding: 5px;
//       width: 150px;
//       border-radius: 5px;
//       transition: 0.5s;
//       text-transform: capitalize;
//       box-shadow: rgba(255, 255, 255, 0.16) 0px 3px 6px, rgba(255, 255, 255, 0.23) 0px 3px 6px;

//     }

//     .check:hover {
//       width: 200px;
//       background: green;

//     }

//   }

// }

// @media only screen and (max-width: 700px) {
//   .container {
//     border: 2px solid red;
//     height: calc(100vh - 120px);
//     .start {
//       .info {
//         .info_text {
//           h1 {
//             font-size: 30px;
//           }
//         }
//       }
//     }
//   }
// }

.container {
  margin-top: 72px;
  height: calc(100vh - 144px);
  background-image: url("../assets/images/board4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .start {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    h1 {
      font-family: "Rubik Vinyl", cursive;
      margin: 0;
      font-size: 100px;
    }

    .startBtn {
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        font-size: 40px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    }
  }

  .top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

    h1 {
      width: 100%;
      text-align: center;
      margin: 0;
      font-size: 100px;
      font-family: "Rubik Vinyl", cursive;
    }

    height: 100%;
  }

  .doneLearning {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h1 {
      font-family: "Fredoka", sans-serif;
    }

    .btnsContnet {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        direction: rtl;
        text-align: center;
        height: 200px;
        width: 200px;
        cursor: pointer;
        font-weight: bold;
        background: #28215a;
        font-size: 20px;
        border-radius: 50%;
        transition: 0.2s;
        font-family: "Fredoka", sans-serif;
      }

      .anch {
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-align: center;
        margin-bottom: 5px;
        background: greenyellow;
        color: black;
        padding: 5px;
        width: 150px;
        border-radius: 5px;
        transition: 0.5s;
        text-transform: capitalize;
        box-shadow: rgba(255, 255, 255, 0.16) 0px 3px 6px,
          rgba(255, 255, 255, 0.23) 0px 3px 6px;
      }

      .anch:hover {
        // width: 200px;
        background: green;
      }

      span:hover {
        // width: 200px;
        background: #403784;
      }
    }

    @media (max-width: 1300px) {
      width: 100%;
    }

    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;

      color: white;
    }

    .check {
      cursor: pointer;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      text-align: center;
      margin-bottom: 5px;
      background: greenyellow;
      color: black;
      padding: 5px;
      width: 150px;
      border-radius: 5px;
      transition: 0.5s;
      text-transform: capitalize;
      box-shadow: rgba(255, 255, 255, 0.16) 0px 3px 6px,
        rgba(255, 255, 255, 0.23) 0px 3px 6px;
    }

    .check:hover {
      width: 200px;
      background: green;
    }
  }
}

@media only screen and (max-width: 700px) {
  .container {
    padding-top: 30px;

    height: calc(100vh - 120px);

    .start {
      h1 {
        
        padding-top: 5px;
        font-size: 40px;
      }
      
    }
    
    .top {
      h1 {
        
        padding-top: 5px;
        font-size: 50px;
      }

    }
  }
  .doneLearning {
    
    
    .btnsContnet {

      span {
        height: 150px !important;
        width: 150px !important;
        font-size: 15px !important;
      }

      .anch {
        font-size: 15px;
      }
    }
  }

}

@media only screen and (max-width: 350px) {
  .container {
    padding-top: 30px;

    height: calc(100vh - 120px);

    .start {
      h1 {
        padding-top: 5px;
        
        font-size: 30px;
      }
      
    }
    
    .top {
      h1 {
        padding-top: 5px;
        
        font-size: 35px;
      }
      
    }
  }
  .doneLearning {
    
    
    .btnsContnet {

      span {
        height: 120px !important;
        width: 120px !important;
        font-size: 12px !important;
      }

      .anch {
        font-size: 15px;
      }
    }
  }
}

button {
  font-family: "Fredoka", sans-serif;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  background: #28215a;
  padding: 5px;
  border: none;
  width: 150px;
  border-radius: 5px;
  transition: 0.2s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button:hover {
  box-shadow: none;
  background: #403784;
}