.game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    font-size: 2em;
    direction: rtl;
    background: transparent;
    .sentence {
        transition: 0.5s;

        .word {
            animation: wordEnter 0.5s ease-in forwards;
            
        }
        
        .other {
            
            // animation: wordout 15.0s ease-in forwards;
            margin-left: 7px;

        }
    }

    .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        .btn {
            border: 1px solid white;
            border-radius: 5px;
            padding: 10px;
            
            background: greenyellow;
            color: rgb(0, 0, 0);
            font-size: 20px;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
                background: green;
                color: black;
            }
        }
    }

    .rev {
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


@keyframes wordEnter {
    0% {
        color: white;

    }

    100% {
        font-size: 3.5rem;
        color: yellow;
    }
   
}

@keyframes wordout {
    0% {
        color: white;

    }

    100% {
    
        color: #29215a;
    }
   
}


// @media (max-width: 600px) {
//     .game {
//         padding-top: 50px;
//         border: 10px solid green;
//         display: flex;
//         align-items: center;
//         flex-direction: column;
//         height: 50vh;
//         font-size: 2em;

//         direction: rtl;
//         background: #29215a;

//         .sentence {
//             transition: 0.5s;

//             .word {
//                 animation: wordEnter 0.5s ease-in forwards;
//             }

//             .other {
//                 color: white;
//                 margin-left: 5px;

//             }
//         }

//         .btns {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             margin-top: 50px;

//             .btn {
//                 border: 1px solid white;
//                 border-radius: 5px;
//                 padding: 10px;

//                 background: greenyellow;
//                 color: rgb(0, 0, 0);
//                 font-size: 20px;
//                 transition: 0.2s;
//                 cursor: pointer;

//                 &:hover {
//                     background: green;
//                     color: black;
//                 }
//             }
//         }

//         .rev {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             flex-direction: column;
//         }
//     }

// }